@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* GENERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #242424;
    line-height: 1.25;
}

h1 {
    font-size: 50px;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 16px;
}

img {
    width: 100%;
}

p {
    line-height: 1.4;
}

.red__text {
    color: #f41f43
}

nav {
    display: flex;
    height: 100px;
    padding: 10px 0;
    background-color: #eeeeee;
}

.nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    align-items: center;
}

.logo {
    width: 250px;
}

ul {
    display: flex;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    margin-right: 16px;
    padding: 8px;
    font-size: 20px;
    font-weight: 700;
    color: #243340;
}

.nav__link--primary {
    border: 2px solid #243340;
    border-radius: 12px;
}

.nav__link--primary:hover {
    text-decoration: underline;
    color: #f41f43;
}

.container {
    padding: 56px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.fa-solid {
    color: #f41f43;
}

.fa-regular {
    color: #f41f43;
}

.fa-highlights {
    transform: scale(1.70);
}

.common__button {
    padding: 12px 28px;
    border-radius: 20px;
    background-color: #eeeeee;
    font-weight: 700;
    font-size: 20px;
    margin-top: 12px;
    transition: all 450ms ease;
}

.common__button:hover {
    text-decoration: solid;
    transform: scale(1.1);
    color: #f41f43;
}

/* HEADER */

header {
    height: 94vh;
    background-color: #eeeeee;
}

.header__container {
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    padding-top: 40px;
}

.img__slight-shrink {
    z-index: 2;
    padding: 30px;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.header__button:active {
    transform: translateY(3px);
}

.header__huge-image {
    height: 80%;
    max-height: 50vh;
    padding: 20px;
}

/* HIGHLIGHTS AND NEWBOOKS */

#highlights,
#newbooks,
footer {
    background-color: #f3c8d0;
    position: relative;
}

#highlights:before,
#highlights:after, 
#newbooks:before,
#newbooks:after,
footer:before {
    content: "";
    background: url(wave.png);
    position: absolute;
    width: 100%;
    height: 12vw;
    background-size: cover;
    background-repeat: no-repeat;
}

#highlights:before,
#newbooks:before,
footer:before {
    top: 1px;
    transform: translateY(-100%);
}

#highlights:after,
#newbooks:after {
    bottom: 1px;
    transform: translateY(100%)  rotate(180deg);
}

.highlight__wrapper {
    display: flex;
}

.section__title {
    margin-bottom: 30px;
}

.highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%/3);
}

.highlight__image {
    border: solid black;
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px
}

.highlight__subtitle {
    padding-top: 16px;
    padding-bottom: 8px;
}

.highlight__para {
    padding: 0 24px;
    font-weight: 500;
}

/* LIMITED EDITION */

#limiteded {
    background-color: #eeeeee;
}

.limiteded__container {
    padding-top: 12%;
}

.book {
    width: 32%;
    padding: 30px;
}

.book__image {
    width: 100%;
    cursor: not-allowed;
}

.book__image--wrapper {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    transition: all 450ms ease;
    margin-bottom: 12px;
}

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.book:hover .book__image--wrapper {
    transform: scale(1.05);
}

.book__title {
    font-size: 20px;
    font-weight: 700;
}

.book__title:hover {
    text-decoration: underline;
}

.book__price--normal {
    text-decoration: line-through;
    color: #897575;
    padding-right: 6px;
}

.book__price {
    font-weight: 900;
}

.book__ratings {
    margin: 2px 0;
}

/* EXPLORE MORE */

#explore {
    background-color: #eeeeee;
}

.explore__container {
    padding-top: 12%;
    padding-bottom: 12%;
}

.explore__prompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* FOOTER */
footer {
    padding-top: 12%;
}