@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* GENERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 50px;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 16px;
}

img {
    width: 100%;
}

.red__text {
    color: #f41f43
}

nav {
    display: flex;
    height: 100px;
    padding: 10px 0;
    background-color: #eeeeee;
}

.nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    align-items: center;
}

.logo {
    width: 250px;
}

ul {
    display: flex;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    margin-right: 16px;
    padding: 8px;
    font-size: 20px;
    font-weight: 700;
    color: #243340;
}

.nav__link--primary {
    border: 2px solid #243340;
    border-radius: 12px;
}

.nav__link--primary:hover {
    text-decoration: underline;
    color: #f41f43
}

.container {
    padding: 56px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */

header {
    height: calc(100vh - 100px);
    background-color: #eeeeee;
}

.header__container {
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    padding-top: 40px;
}

.img__slight-shrink {
    padding: 30px;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__button {
    padding: 12px 28px;
    border-radius: 20px;
    background-color: #eeeeee;
    font-weight: 700;
    font-size: 20px;
    margin-top: 12px;
}

.header__button:active {
    transform: translateY(3px);
}

.header__huge-image {
    height: 80%;
    max-height: 50vh;
    padding: 20px;
}

/* HIGHLIGHTS */
